<div class="center" >
  <h3 class="text-center mt-5">Listado de productos</h3>
  <div class='container text-center' >
    <div class="row center" >
      <div class="card m-3" style="width: 18rem;" *ngFor="let producto of listaProductos">
        <img class="card-img-top" class="image" src="{{producto.img}}" width="250" height="250">
        <div class="card-body">
          <h3>${{producto.price}}</h3>
          <h5>{{producto.name}}</h5>
          <hr>
          <p>{{producto.category}}</p>

          <a [routerLink]="['/Detalle',producto.id]" class="btn btn-outline-success">Ver mas</a>
        </div>
      </div>

    </div>
  </div>
</div>