<app-header></app-header>

<h3 class="text-center mt-5"> Carrito </h3>

<div class="container bg-white z-depth-1 p-3">

  <div class="col-12 text-center p-5" *ngIf="calcularTotal()==0">
    <h3>Tu carrito está vacio</h3>
    <h6>¡Intenta buscar productos que te interesen!</h6>
  </div>

  <div class="row">
    <div class="col s6 text-right">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of carrito">
            <td><img src={{item.img}} width="50px" height="50px"></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.cantidad}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{total}}</td>
          </tr>
        </tbody>
      </table>
      <a class="waves-effect indigo darken-3 btn indigo darken-3 white-text mr-4"><i
        class="material-icons right">
    </i>Limpar carrito</a>
        <button class="waves-effect indigo darken-3 btn indigo darken-3 white-text" (click)="crearOrden()"><i
                class="material-icons right">
            </i>Comprar</button>
  </div>
  </div>
  </div>



<div class="container  blue-grey darken-1 col-12 text-center mt-5 z-depth-1">
  <ul class="tabs blue-grey darken-1">
      <li class="tab col s3 center"><a routerLink="/Home" class="white-text">Ver más productos</a></li>
  </ul>
</div>

<!----> 
