<h3 class="text-center mt-5"> Carrito </h3>

<div class="container bg-white z-depth-1 p-3">
  <div class="col-12 text-center p-5">
    <h3>Tu carrito está vacio</h3>
    <h6>¡Intenta buscar productos que te interesen!</h6>
  </div>

  <div class="row">
    <div class="col s6 text-right">
        <a href="https://www.mercadopago.com.ar/home" class="waves-effect waves-green lighten-1 btn indigo darken-3"><i
                class="material-icons right">
            </i>Comprar</a>
  </div>
  </div>
  </div>



<div class="container col-12 text-center mt-5 z-depth-1">
  <ul class="tabs">
      <li class="tab col s3 black-text center"><a routerLink="/Home" class="black-text">Ver más productos</a></li>
  </ul>
</div>

<!--<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>--> 
