<header>
  <app-header-component></app-header-component>
</header>

<div class="container">
  <div class="row">
  <app-producto-component [dataEntrante]="detalleProducto" *ngFor="let detalleProducto of listaDeProductos"></app-producto-component>
</div>
</div>

<app-sesion-component></app-sesion-component>
<app-restaurar-password-component></app-restaurar-password-component>
<app-registro-usuario-component></app-registro-usuario-component>

<script>
  
  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')
  
  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
  
  </script>